@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);


body { font:12px/1.6 arial; color:#555; }

h1 { position:fixed; top:50px; left:50px; z-index:99 }
h1 img { width:200px; }

.open { position:fixed; top:30px; right:50px; 
    z-index:999; width:50px; height:50px;
    border-radius:50%; background-color:#000;
    cursor:pointer;  
}

/* .open .bar { width:30px; height:4px; 
    background-color:#fff;
    border-radius:2px; position:absolute; 
    transition:all 0.5s
}
.open .bar1 { top:12px; left:10px }
.open .bar2 { top:50%; margin-top:-2px; left:10px }
.open .bar3 { bottom:12px; left:10px }

.open.on .bar1 { 
    transform:rotate(45deg); 
    transform-origin:left center; 
    left:14px; 
}
.open.on .bar2 { opacity:0; 
    transform:translateX(100%)
}
.open.on .bar3 { 
    transform:rotate(-45deg); 
    transform-origin:left center;
    left:14px; 
} */


.open .bar { height:4px; background-color:#fff;
    border-radius:2px; position:absolute; transition:all 0.5s }
.open .bar1 {width:15px; top:12px; left:10px }
.open .bar2 {width:30px; top:50%; margin-top:-2px; left:10px }
.open .bar3 {width:20px; bottom:12px; right:20px; }

.open.on .bar1 { 
     transform:translateX(4px) rotate(45deg); 
    transform-origin:left center; }
.open.on .bar2 {  transform:rotate(-45deg); 
    transform-origin:center center;  }
.open.on .bar3 {  
    transform:translateX(6px) rotate(45deg); 
    transform-origin:right center; 
    width:15px
} 


.openlist { position:fixed; top:0; right:0; 
    width:0%; overflow:hidden; height:100%; 
    background-color: #b08978; z-index:998;
    transition:all 0.5s;
    display:flex; justify-content: center;
    align-items: center;
}
.open.on + .openlist { width:100%; }
.openlist ul { 
    color:#fff;
    opacity:0; 
    text-align:center; 
    font-size:50px; 
    line-height:2;
    transition:all 0.5s; }
.open.on + .openlist ul { opacity:1; }



#menu { position:fixed; 
    bottom:0; left:0px; right:0;  z-index:99; background:#000; display:flex; 
    justify-content: center;
}
#menu li { width:15%; }
#menu li a { display:block; font-size:20px; 
    color:#fff; padding:20px 0; 
    text-align:center; position:relative; 
}
#menu li.on a { color:yellow }
#menu li.on a::before {
    content:'';
    width:0; height:0;
    border:10px solid #fff;
    border-bottom:none;
    border-left-color:transparent;
    border-right-color:transparent;
    position:absolute; 
    top:0; left:50%; transform:translateX(-50%)
}


#sns { position:fixed; top:40px; right:150px; z-index:99 }
#sns li { display:inline-block;  font-size:25px; color:rgba(0, 0, 0, 0.5); 
    margin-left:15px; transition:all 0.5s }
#sns li:hover { transform:scale(1.5); color:rgba(0,0,0,1) }    


/* 걷는 애니메이션 */
.walkBox { position:fixed; bottom:80px; left:130px; z-index:99; }
.walkBox .humanBg { 
    background:url(../img/sprite.png) no-repeat;
    width:340px; height:501px; 
    background-position:0 0;
}
.walkBox.on .humanBg {
    animation:move 0.6s steps(6);
}

@keyframes move {
    0% { background-position:0 0;  }
    100% { background-position:-2041px 0;  }
}

html { overflow:hidden }
body { background-image:url(../img/content_bg.jpg);
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover; 
    background-attachment: fixed;
    transition:all 1s;
}
body.on {
    background-image:url(../img/content_bg01.jpg);
}


#wrap { width:400vw; height:100vh;
    display:flex; 
}
section { flex:1; }

#sect4 article { display:flex; 
    justify-content: center;
    align-items: center;
    height:100%;  
}
#sect4 article form { width:500px; 
    background:#fff; padding:50px; 
}
#sect4 col:nth-child(1) { width:20% }
#sect4 col:nth-child(2) { width:auto }
#sect4 input { width:100%; height:30px; padding:3px;
    border:1px solid #555; }
#sect4 textarea { width:100%; height:100px;
    border:1px solid #555; }
#sect4 td { padding:5px 0 }
#sect4 .btn { text-align:center }
#sect4 .btn button { border:none; padding:5px 15px; background:#ddd; border-radius:5px; }
#sect4 .btn input { border:none; padding:5px 15px; background:#ddd; border-radius:5px; width:auto; }